body {
    background-color: #d42003; 
    max-height: 100vh;
}

a {
    text-decoration: none;
    color: white
}

a:hover {
    color:  #070f5d ;
}

.back-button {
    --position: relative;
    left: 0px;
    display: block;
    height: 50px;
    float: left;
    text-align: left;
}
.back-button:hover {
    color: red;
}

.register {
    min-height: 98vh;
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: #8891ea;
    display: block;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
